@media screen and (min-width:800px) {
    body{
        margin: 0;
        padding: 0;
        position: relative;
        background: #fff;
    }
    .pcontainer {
        margin: 2% 10% 2% 10%;
    }
    .pfirst{
        width: auto;
        margin: auto;
        padding-bottom: 2%;
    }
    .picon{
        height: 40%;
        width: 40%;
    }
    .pname{
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        font-family: bold;
    }
    .pline2{
        max-width: 800px;
       padding-left: 9%;
       padding-right: 9%;
    }
    .psecond{
        max-width: 800px;
        padding-left: 9%;
        padding-right: 9%;
    }
    .pb1{
        font-size: 10px;
    }
    .pb2{
        color: rgb(95, 92, 92);
        letter-spacing: -0.0001em;
        font-size: 20px;
    }
    .pprofile{
        display: flex;
        flex-direction: row;
    }
    img{
        width: 65px;
        height: 65px;  
    }
    .prect1{
        border:1px solid rgb(42, 40, 153);
        border-radius: 5px;
        border-width: 2px;
        text-decoration: none;
    }
    .pfollow{
        margin-top: 17px;  
        width: 5px;
    }
    .ppname {
        padding-left: 2%;
        font-style: normal;
        font-stretch: expanded;
    }
    .pthird{
        max-width: 800px;
        padding-left: 9%;
        padding-right: 9%;
        font-style: normal;
        font-stretch: expanded;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: -0.0001em;
        font-size: 20px;
    }
    .pimagestyle{
        border-radius: 50% 50%;
    }
    }
    
    @media screen and (max-width:800px) {
        body{
            margin: 0;
            padding: 0;
            position: relative;
            background: #fff;
        }
        .pcontainer {
            margin: 2% 10% 2% 10%;
        }
        .pfirst{
            width: auto;
            margin: auto;
            padding-bottom: 2%;
        }
        .picon{
            height: 40%;
            width: 40%;
        }
        .pname{
            font-size: 17px;
            font-family: Arial, Helvetica, sans-serif;
            font-family: bold;
        }
        .pline2{
            max-width: 800px;
           padding-left: 9%;
           padding-right: 9%;
        }
        .psecond{
            max-width: 800px;
            padding-left: 5%;
            padding-right: 5%;
        }
        .pb1{
            font-size: 10px;
            padding-top: 10px; 
        }
        .pb2{
            color: rgb(95, 92, 92);
            letter-spacing: -0.0001em;
            font-size: 20px;
        }
        .pprofile{
            display: flex;
            flex-direction: row;
        }
        img{
            width: 65px;
            height: 65px;  
        }
        .prect1{
            border:1px solid rgb(42, 40, 153);
            border-radius: 5px;
            border-width: 2px;
            text-decoration: none;
        }
        .pfollow{
            margin-top: 17px;  
            width: 5px;
        }
        .pthird{
            max-width: 800px;
            padding-left: 9%;
            padding-right: 9%;
            font-style: normal;
            font-stretch: expanded;
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: -0.0001em;
            font-size: 20px;
        }
        .pdata{
            color: rgb(27, 24, 24);
            letter-spacing: -0.0001em;
            font-size: 20px;
        }
        .pthird-first-letter{
            font-size: 35px;
            color: #fff;
            background-color: black;
            border-radius: 50%;
            width: 250px;
            height: 160px;
            padding: 0 20px;
        }
        .pimagestyle{
            border-radius: 50% 50%;
        }
    }
